<div class="main-container">
  <div class="row">

    <div class="cards">
      <h1><%= current_user.name %>Pokémon Trainer</h1>
      <p>Age: <%= current_user.age %></p>
      <p>Sex: <%= current_user.sex %></p>
    </div>

    <div class="cards">
      <%= form_with url: teams_path, method: :post, local: true do %>
        <%= submit_tag("Create Team") %>
      <% end %>
    </div>

  </div>
</div>
